.gallary {
	flex-wrap: wrap;
	justify-content: center;
}
.figure {
	width: 20%;
	border: 1px solid red;
	margin: 5px;
}
.figure img {
	width: 100% !important;
}
.figure-caption {
	font-size: 25px;
	text-align: center;
}
